*.iml
.gradle
/.firebaserc
/firebase.json
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/database-debug.log
/firestore-debug.log
/ui-debug.log
/firebase-debug.log
/storage.rules
/dir/auth_export/accounts.json
/dir/storage_export/buckets.json
/dir/auth_export/config.json
/dir/firebase-export-metadata.json
/dir/firestore_export/firestore_export.overall_export_metadata
