<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.s11.g32.tindergree">
    <!-- Permissions for gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tindergree"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.FilterActivity"></activity>
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DeveloperNotesActivity" />
        <activity android:name=".Activities.UserProfilePageActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.OtherPicsActivity" />
        <activity android:name=".Activities.PostRegisterUserDetails" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.SwipeActivity" />
        <activity android:name=".Activities.PostRegisterUploadPhotos" />
        <activity android:name=".Activities.RegisterActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activities.DisplayChatsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MatchRequestsActivity" />
    </application>

</manifest>